functions-framework==3.*
google-cloud-pubsub==2.*
requests==2.*
beautifulsoup4==4.*
google-cloud-aiplatform>=1.38.0
google-cloud-secret-manager==2.20.0
google-cloud-logging==3.10.0
google-cloud-firestore==2.16.0